[Desktop Entry]
Type=Application
Exec=driveutility -m wipe
Icon=driveutility
Terminal=false
Categories=GTK;Utility;
NotShowIn=KDE;
Name=Disk wiper
Name[de]=Festplattenlöschprogramm
Name[es]=Borrador de discos
Name[fr]=Effaceur de disque
Name[id]=Penghapus disk
Name[it]=Strumento di eliminazione dischi
Name[pt]=Apagador de discos
Name[pt_BR]=Apagador de discos
Name[ru]=Очиститель дисков
Comment=Wipe a disk
Comment[de]=Eine Festplatte löschen
Comment[es]=Borrar un disco
Comment[fr]=Effacer un disque
Comment[id]=Hapus disk
Comment[it]=Elimina un disco
Comment[pt]=Apagar um disco
Comment[pt_BR]=Apagar um disco
Comment[ru]=Очистить диск
