[Desktop Entry]
Type=Application
Exec=driveutility
Icon=driveutility
Terminal=false
Categories=System;
OnlyShowIn=KDE;
Name=Drive Utility
Name[de]=Laufwerksprogramm
Name[es]=Utilidad de disco
Name[fr]=Utilitaire de disque
Name[id]=Utilitas Disk
Name[it]=Utilità disco
Name[pt]=Ferramenta de Disco
Name[pt_BR]=Utilitário de Disco
Name[ru]=Дисковая утилита
Comment=Write disk images, format, or wipe drives
Comment[de]=Festplattenabbilder schreiben, formatieren oder Laufwerke löschen
Comment[es]=Escribir imágenes de disco, formatear o borrar unidades
Comment[fr]=Écrire des images disque, formater ou effacer des lecteurs
Comment[id]=Tulis citra disk, format, atau hapus drive
Comment[it]=Scrivi immagini disco, formatta o elimina unità
Comment[pt]=Gravar imagens de disco, formatar ou apagar unidades
Comment[pt_BR]=Gravar imagens de disco, formatar ou apagar unidades
Comment[ru]=Записывать образы дисков, форматировать или очищать накопители
GenericName=Drive Management
GenericName[de]=Laufwerksverwaltung
GenericName[es]=Administración de unidades
GenericName[fr]=Gestion des disques
GenericName[id]=Manajemen Disk
GenericName[it]=Gestione unità
GenericName[pt]=Gestão de Unidades
GenericName[pt_BR]=Gerenciamento de Discos
GenericName[ru]=Управление дисками
Keywords=usb;iso;image;write;flash;bootable;format;fat32;ntfs;ext4;erase;wipe;disk;
