# Build files
*.mo

# Debian package build files
debian/.debhelper
debian/driveutility.debhelper.log
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/driveutility/
debian/tmp/

# Python cache
__pycache__/
*.py[cod]
*$py.class
